@import 'tailwindcss';
@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,mjs,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-3xl: 1920px;
}

@layer base {
  svg {
    @apply size-[1em];
  }

  body {
    @apply bg-gradient-to-br from-secondary-50 via-background to-secondary-50;
  }

  ::-webkit-scrollbar {
    @apply size-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-default-200/50;
  }

  ::-webkit-scrollbar-track {
    @apply bg-default-100/25;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/merriweather-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../assets/fonts/dancing-script-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/jetbrains-mono-variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
